################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab5/obj
/Lab5/bin/Debug/netcoreapp2.1
/Lab5/.vs
/Lab6/obj
/Lab6/bin/Debug/netcoreapp2.1
/Lab6/.vs/Lab6/v17
/Lab6/.vs
/Lab8/.vs
/Lab8/obj
/Lab7/obj
/Lab7/bin/Debug/netcoreapp2.1
/Lab7/.vs
/Lab8/bin/Debug/netcoreapp2.1
/Lab9/.vs
/Lab9/bin/Debug/netcoreapp2.1
/Lab9/obj
/Lab10/Blackbox/obj
/Lab10/Blackbox/bin
/Lab10/Blackbox/.vs/Blackbox
/Lab10/Blackbox/.vs/ProjectEvaluation
/Lab10/CustomAttribute/obj
/Lab10/CustomAttribute/bin/Debug/netcoreapp2.1
/Lab10/CustomAttribute/.vs/CustomAttribute
/Lab10/CustomAttribute/.vs/ProjectEvaluation
/Lab11/.vs
/Lab11/obj
/Lab11/bin/Debug/netcoreapp2.1
/Lab12/obj
/Lab12/.vs/Lab12/v17
/Lab12/bin/Debug/netcoreapp2.1
/Lab12/.vs/Lab12/DesignTimeBuild
/Lab12/.vs
/Lab13
/Lab14/obj
/Lab14/bin/Debug/netcoreapp2.1
/Lab14/.vs/Lab14
/Lab14/Test files
/Lab14/.vs/ProjectEvaluation
/Lab15/obj
/Lab15/bin/Debug/netcoreapp2.1
/Lab15/.vs
